<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.announcements_id}}</td>
            <td>{{this.active}}</td>
            <td>{{this.title}}</td>
            <td>{{this.note}}</td>
            <td>{{this.start_date}}</td>
            <td>{{this.end_date}}</td>
            <td>{{this.announcement_owner}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2>Adding Data using an HTML form</h2>
    <p>To add a new person, please enter their information below nad click `Submit`!</p>
    <form id="add-announcement-form" method="POST" action="/add-announcement-form">
        <label for="input-active">Active: </label>
        <input type="number" name="input-active" id="input-active">

        <label for="input-title">Title: </label>
        <input type="text" name="input-title" id="input-title">

        <label for="input-note">Note: </label>
        <input type="text" name="input-note" id="input-note">

        <label for="input-startDate">Start Date: </label>
        <input type="date" name="input-startDate" id="input-startDate">

        <label for="input-endDate">End Date: </label>
        <input type="date" name="input-endDate" id="input-endDate">

        <label for="input-aowner">Announcement Owner: </label>
        <input type="number" name="input-aowner" id="input-aowner">

        <input type="submit">
    </form>
