<!-- index.hbs -->
<h1>Family Members</h1>


{{!-- Create a table --}}
<table class="table" id="familyMember-table">

    {{!-- Header section --}}
    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
               {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.family_id}}</td>
            <td>{{this.active}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.nick_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.birthday}}</td>
            <td>{{this.primary_number}}</td>
            <td>
                <button type="button" 
                class="btn btn-warning" 
                onclick="productUpdate();">Delete</button>
            </tr>
        {{/each}}
     </tbody>
</table>

<p>To add a new Family Member, please enter their information below and click `Submit`!</p>
<form id="add-familyMember-form" method="POST" action="/add-familyMember-form">

    <label for="input-active">Active: </label>
    <input type="number" name="input-active" id="input-active">

    <label for="input-first_name">First Name: </label>
    <input type="text" name="input-first_name" id="input-first_name">

    <label for="input-nick_name">Nickname: </label>
    <input type="text" name="input-nick_name" id="input-nick_name">

    <label for="input-last_name">Last Name: </label>
    <input type="text" name="input-last_name" id="input-last_name">

    <label for="input-birthday">Birthday: </label>
    <input type="date" name="input-birthday" id="input-birthday">

    <label for="input-primary_number">Primary Phone Number: </label>
    <input type="tel" name="input-primary_number" id="input-primary_number" placeholder="123-456-7891" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">

    <input type="submit">
</form>

