<!-- index.hbs -->
<div class="container">
<h1 class="display-1" >Family Members</h1>
</div>

<div class="container">
    {{!-- Create a table --}}
    <table class="table" id="familyMember-table">

        {{!-- Header section --}}
        <thead>

        <tr>
            {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
            {{/each}}
        </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>
        {{#each data}}
            <tr>
                <td>{{this.family_id}}</td>
                <td>{{this.active}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.nick_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.birthday}}</td>
                <td>{{this.primary_number}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-familyMember-html" method='GET' action='/familyMembers'>
    <label for="input-lastName">Search by Last Name: </label>
    <input type="text" name="last_name" id="input-last_name-html-search">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


<div class="container">
    <p class="lead">To add a new Family Member, please enter their information below and click `Submit`!</p>
</div>

<div class="container">
<form class="form-horizontal" id="add-familyMember-form" method="POST" action="/add-familyMember-form">

    <input type="hidden" id="input-active" name="input-active" value="1">

    <div class="form-group">
        <label class="control-label col-sm-2" for="email">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="input-first_name" id="input-first_name" placeholder="John">
        </div>
    </div>


    <div class="form-group">
    <label class="control-label col-sm-2" for="input-nick_name">Nickname: </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="input-nick_name" id="input-nick_name">
    </div>
</div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="input-last_name">Last Name: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name='input-last_name' id='input-last_name' placeholder="Smith">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="input-birthday">Birthday: </label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="input-birthday" id="input-birthday">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="primary_number">Primary Phone Number: </label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" name="primary_number" id="primary_number" placeholder="123-456-7891"
                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </div>


</form>
</div>
