<div class="container">
<h1 class="display-1">The server is running!</h1>
</div>



<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table class="table">

    {{!-- Header section --}}
    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.item_id}}</td>
            <td>{{this.active}}</td>
            <td>{{this.item_name}}</td>
            <td>{{this.item_amount}}</td>
            <td>{{this.suggested_store}}</td>
            <td>{{this.note}}</td>
            <td>{{this.item_owner}}
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below nad click `Submit`!</p>
<form id="add-item-form" method="POST" action="/add-item-form">
    <label for="input-active">Active: </label>
    <input type="number" name="input-active" id="input-active">

    <label for="input-itemName">Item Name: </label>
    <input type="text" name="input-itemName" id="input-itemName">

    <label for="input-itemAmount">Amount: </label>
    <input type="number" name="input-itemAmount" id="input-itemAmount">

    <label for="input-suggStore">Suggested Store: </label>
    <input type="text" name="input-suggStore" id="input-suggStore">

    <label for="input-note">Notes: </label>
    <input type="text" name="input-note" id="input-note">

    <label for="input-itemOwner">Item Owner: </label>
    <input type="number" name="input-itemOwner" id="input-itemOwner">

    <input type="submit">
</form>
