<div class="container">
    <h1 class="display-1">Places to see and do...</h1>
</div>

{{!-- Create a table --}}

<div class="container">
    <table class="table">

        {{!-- Header section --}}
        <thead>

        <tr>
            {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
            {{/each}}
        </tr>                                                                           </thead>

        {{!-- Body section --}}
        <tbody>

        {{#each data}}
            <tr>
                <td>{{this.place_id}}</td>
                <td>{{this.active}}</td>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.website}}</td>
                <td>{{this.indoor}}</td>
                <td>{{this.note}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>

<div class="container">
    <p class="lead">To add a new place to remember, please enter the information below and click `Submit`!</p>
    <form id="add-places-form" method="POST" action="/add-places-form">
        <label for="input-active">Active: </label>
        <input type="number" name="input-active" id="input-active">

        <label for="input-name">Place Name: </label>
        <input type="text" name="input-name" id="input-name">

        <label for="input-address">Address: </label>
        <input type="number" name="input-address" id="input-address">

        <label for="input-website">Website: </label>
        <input type="text" name="input-website" id="input-website">

        <label for="input-indoor">Indoor: </label>
        <input type="number" name="input-indoor" id="input-indoor">

        <label for="input-note">Note: </label>
        <input type="text" name="input-note" id="input-note">

        <input type="submit">
    </form>
</div>


<div class="container">
    <p class="lead">To add a new item, please enter their information below and click `Submit`!</p>
</div>

<div class="container">
    <form class="form-horizontal" id="add-place-form" method="POST" action="/add-place-form">

        <input type="hidden" id="active" name="active" value="1">

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Item Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="input-itemName" id="input-itemName" placeholder="John">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="input-itemAmount">Amount: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="input-itemAmount" id="input-itemAmount">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="input-suggStore">Suggested Store: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name='input-suggStore' id='input-suggStore'>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="input-note">Notes: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="input-note" id="input-note">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="input-itemOwner">Item Owner: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="input-itemOwner" id="input-itemOwner">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>


    </form>
</div>